.messageContainer {
  position: relative;
  white-space: pre-wrap; /* Preserves whitespace but allows text to wrap */
  word-wrap: break-word; /* Breaks long words to prevent overflow */
  overflow-wrap: break-word;

  p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding: 0rem 2rem;
    font-size: 1.25rem;
  }

  pre {
    background-color: #282c34; // Dark background
    color: #e3e3e3; // Light text color for contrast
    padding: 1rem;
    overflow-x: auto;
    border-radius: 8px;
    margin: 8px 0;
    max-width: 100%; // Ensures the block doesn't exceed its container
    overflow-x: auto; // Allows horizontal scrolling for overflow content
    word-wrap: break-word; // Breaks long words to prevent overflow

    code {
      font-family: "Courier New", Courier, monospace; // Monospaced font for code
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

  .codeBlock {
    position: relative;
    max-width: 100%; // Ensures the block doesn't exceed its container
    overflow-x: auto; // Allows horizontal scrolling for overflow content
    word-wrap: break-word; // Breaks long words to prevent overflow

    .copyButton {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 0.5rem 0.5rem;
      background-color: gray;
    }
  }
}
